
<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />
<link href="view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="all" />
</head>
<body>
<div class="container">

  <div style="page-break-after: always;">
  </br>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-user"></i> {{ text_bill_detail }}</h3>
          </div>
          <table class="table">
           <tr>
               <td><b>{{ text_bill_id }}</b></td>
              <td>{{ bill_id }}</td>
            </tr>
            <tr>
               <td><b>{{ text_room_number }}</b></td>
              <td>{{ room_number }}</td>
            </tr>
            <tr>
               <td><b>{{ text_name }}</b></td>
              <td>{{ first_name }} {{ last_name }}</td>
            </tr> 
           <tr>
               <td><b>{{ column_start_date }}</b></td>
              <td>{{ start_date }}</td>
            </tr>
            <tr>
               <td><b>{{ column_last_date }}</b></td>
              <td>{{ last_date }}</td>
            </tr>
            <tr>
               <td><b>{{ column_start_reading }}</b></td>
              <td>{{ start_reading }}</td>
            </tr> 
            <tr>
               <td><b>{{ column_last_reading }}</b></td>
              <td>{{ last_reading }}</td>
            </tr> 
             <tr>
               <td><b>{{ column_total_reading }}</b></td>
              <td>{{ total_reading }}</td>
            </tr> 
             <tr>
               <td><b>{{ column_total_bill }}</b></td>
              <td>{{ total_bill }}</td>
            </tr> 
             <tr>
               <td><b>{{ column_remark }}</b></td>
              <td>{{ remark }}</td>
            </tr> 
         
          </table>
        </div>
      </div>

     </div>
  
</div>
</body>
</html>
